<h1>Showing <%= pluralize(@products.count, 'Product') %></h1></br>

<ul>
  <% @products.each do |product| %>
    <li class="<%= cycle('even', 'odd') %>">
      <%= link_to(product.name, product_path(product.id)) %>
      <!-- <a href="/products/<%= product.id %>"> <%= product.name %></a> -->
      <%= number_to_currency(product.price) %>
      <%= link_to('Edit', edit_admin_product_path(product.id)) %>

       Posted <%= time_ago_in_words(product.created_at) %> ago.
    </li>
    </br>
  <% end %>
</ul>
