<h1 class='pt'>Welcome to DPL store!</h1>


<div id="left-column">
  <h2>Our Products</h2>
  <% @products.each do |product| %>
    <div id="product">
      <%= product.name %>
    </div>
  <% end %>
</div>

<div>
  <%= image_tag('store01.jpg', size: '250x250') %>
</div>

<div id="right-column">
  <h2>Our Cars</h2>
  <% @cars.each do |car| %>
    <div id="car">
      <%= car.year %> <%= car.make %> <%= car.model %>
    </div>
  <% end %>
</div>

<br clear="all" />
