<h1>Edit <%= @product.name %></h1>

<%= form_for(@product) do |f| %>
  <div>
    <%= f.label(:name, 'Edit product name') %>
    <%= f.text_field(:name) %>
  </div>

  <div>
    <%= f.label(:price, 'Edit product price') %>
    <%= f.text_field(:price) %>
  </div>

  <div>
    <%= f.label(:sku, 'Edit sku number') %>
    <%= f.text_field(:sku) %>
  </div>

  <div>
    <%= f.submit('Update') %>
  </div>

  <% end %>
