<!DOCTYPE html>
<html>
<head>
  <title>DPL Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="wrapper">
    <header>
      <nav class="navbar navbar-inverse" role="navigation">
        <%= link_to('Home Page', root_path) %>
        <span>&nbsp;|&nbsp;</span>
        <%= link_to('View Products', products_path) %>
        <span>&nbsp;|&nbsp;</span>
        <%= link_to('About DPL Store', about_path) %>
        <span>&nbsp;|&nbsp;</span>
        <%= link_to('Create a new product', new_product_path) %>
        <span>&nbsp;|&nbsp;</span>
        <%= link_to('Login', new_user_session_path) %>
      </nav>
    </header>

    <%= show_notice_message %>

    <section id="main-content">
      <%= yield %>
    </section>

    <footer>
      Copyright &copy; <%= Time.now.year %> - Hiromi De Young
    </footer>

  </div>

</body>
</html>
